# Postgres connection
# Fill in values before running.

# Recommended
# DATABASE_URL="postgres://USER:PASSWORD@HOST:PORT/DB_NAME"
DATABASE_URL=""

# Or individual vars
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bbl
DB_USER=postgres
DB_PASSWORD=

PORT=4000

